<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload Geo Json Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Upload Geo Json Data</h2>
  <form class="form-horizontal" method="POST" action="/uploadFile" enctype="multipart/form-data" >
  	<div class="form-group">
      <label class="control-label col-sm-2" for="type">Select File:</label>
      <div class="col-sm-10">
        <select name="file_type" class="form-control">
        	<option value="">Select Type</option>
        	<option value="petrol_pump">Petro Pump</option>
        	<option value="cp_ct">CtPt</option>
        	<option value="gvps">Gvps</option>
        	<option value="twin_bins">TwinBin</option>
        	<option value="city_parks">CityParks</option>
        	<option value="commercial_areas">CommercialAreas</option>
          <option value="rwas">Rwas</option>
          <option value="owcs">Owcs</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="file">File:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="file" name="excel" accept="geojson">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>


