{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h2><a href="/upload">Upload Geo Josn Data</a> <span><a href="/reportUpload">Upload Report Data</a></span></h2>
    </div>
  </div>
{% endblock %}
